.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.name {
  font-size: 160%;
  font-weight: 700;
  margin-bottom: -7px;
}

.role {
  font-size: 80%;
  font-weight: 500;
}

.currentRole {
  margin-top: 0.5rem;
}