
:root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.appRoot {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: none;

  .navbar {
    width: clamp(160px, 25%, 220px);
    height: 100%;
  }
  
  .mainContent {
    flex-grow: 1;
    height: 100%;
    margin: 2rem;
  }
}